[submodule "contracts/lib/zk-kit.solidity"]
	path = contracts/lib/zk-kit.solidity
	url = https://github.com/privacy-scaling-explorations/zk-kit.solidity
[submodule "contracts/lib/abdk-libraries-solidity"]
	path = contracts/lib/abdk-libraries-solidity
	url = https://github.com/abdk-consulting/abdk-libraries-solidity
[submodule "contracts/lib/poseidon-solidity"]
	path = contracts/lib/poseidon-solidity
	url = https://github.com/vimwitch/poseidon-solidity
[submodule "contracts/lib/openzeppelin-contracts"]
	path = contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
